@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,900&display=swap');
$grey: #dedede;
$green: #9fe2ac;
$red: #ff9595;

* {
	box-sizing: border-box;
	outline: none;
	-webkit-appearance: none;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #fff;
}

.title{
	text-align: center;
	&__text{
		color: #333333;
		font-size: 64px;
		font-weight: 900;
		letter-spacing: -3px;
	}
}

.wrapper{
	width: 600px;
	margin: 0 auto;
	position: relative;
}

.field{
	position: relative;
	top: 0;
	&__text{
		font-family: 'Roboto', sans-serif;
		height: 50px;
		width: 100%;
		border-radius: 25px;
		border: 1px solid #585858;
		font-size: 24px;
		font-weight: 300;
		text-indent: 38px;
		transition: .3s;
		&::placeholder{
			color: $grey;
		}
	}
}

.button{
	position: absolute;
	cursor: pointer;
	font-size: 20px;
	padding: 0 15px;
	line-height: 40px;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	text-align: center;
	color: #ffffff;
	border-radius: 25px;
	background-color: #ccc;
	height: 40px;
	transition: .3s;
	&:hover{
		background-color: $green;
	}
	&.active{
		background-color: $red;
	}
}
.content{
	position: absolute;
	top: 50px;
	width: 560px;
	margin-left: 20px;
	&__list{
		list-style-type: none;
		margin: 0;
		padding: 0;
		max-height: 0px;
		overflow: hidden;
		overflow-y: scroll;
		transition: .4s;
		&.active{
			max-height: 200px;
			transition: .4s;
		}
	}
	&__item{
		font-size: 18px;
		color: #717171;
		border-bottom: 1px solid $grey;
		max-height: 50px;
		height: 100%;
		padding-left: 20px;
		line-height: 50px;
		background-color: #eaeaea;
		transition: .3s;
		&:hover{
			background-color: #d4d4d4;
		}
		&:active{
			background-color: #e2e2e2;
		}
	}
}

.article{
	margin-top: 50px;
	padding: 0 20px;
	&__title{
		color: #333333;
	}
	&__text{
		font-weight: 400;
	}
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .1);
}

::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, .3);
}